{% extends 'base.html' %}

{% block head %}
    <title>Telemetry Injection Tool</title>
    <script src="{{ url_for('static', filename='js/stopWatch.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="row">
        <div class="col-md-6">
            <h2>Timer</h2>

            <h2 class="time" id="timer">00:00.000</h2>

            <div class="buttons">
                <div class="start-stop">
                    <button type="button" id="startButton" class="btn-success btn-lg">START</button>
                    <button type="button" id="stopButton" class="btn-danger btn-lg">STOP</button>
                </div>
                <div>
                    <button type="button" id="turnButton" class="reset-btn btn-dark btn-lg">Start Turn</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table style="width:100%" id="turn-table">
                <tr>
                    <th>Turn Number</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Notes</th>
                </tr>
            </table>
            <div>
                <button type="submit" id="save" class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
        </div>


        <script>
            var clock = document.getElementById('timer');
            var tab = document.getElementById('data-table');

            var startButton = document.getElementById('startButton');
            var stopButton = document.getElementById('stopButton');
            var turnButton = document.getElementById('turnButton');

            var downloadButton = document.getElementById('save');

            var watch = new Stopwatch(timer, tab);

            startButton.addEventListener('click', function() {
                watch.start();
            });

            stopButton.addEventListener('click', function() {
                watch.stop();
            });

            turnButton.addEventListener('click', function() {
                watch.turn();
            });
            downloadButton.addEventListener('click', function() {
                watch.tableToJSON(document.getElementById("turn-table"));
            });
        </script>
    </div>
</div>
{% endblock %}