{% extends 'base.html' %}

{% block head %}
    <title>Telemetry Injection Tool</title>
{% endblock %}


{% block body %}
    <div>
        <h1>Create New Drive Day</h1>
        <form action="/new_drive_day/" method="GET">
            {# Power Limit #}
            <label for="power_limit">Power Limit:</label>
            <input type="number" id="power_limit" name="power_limit"><br>

            {# Driving Conditions #}
            <label for="conditions">Driving Conditions:</label>
            <input type="text" id="conditions" name="conditions"><br>

            <input type="submit" value="Create Drive Day">
        </form>
    </div>

    <div>
        <h1>Add Event To Existing Drive Day</h1>
        <form action="/new_event/" method="GET">
            {# Power Output #}
            <label for="day_id">Existing Drive Day ID:</label>
            <input type="number" id="day_id" name="day_id">

            {# Method Indicator #}
            <input type="hidden" id="method" name="method" value="existing">

            <input type="submit" value="Create Event">
        </form>
    </div>
{% endblock %}