{% extends 'base.html' %}

{% block head %}
<title>Texas Tune</title>
<script src="{{ url_for('static', filename='js/adjustableChart.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="sidenav" style="text-align: center">
    <a href="#APPS" onclick="appear('#APPS')" style="text-align: center;">APPS</a>
    <a href="#BSE" onclick="appear('#BSE')" style="text-align: center;">BSE</a>
    <a href="#STOMPP" onclick="appear('#STOMPP')" style="text-align: center;">STOMPP</a>
    <a href="#TORQUE_MAP" onclick="appear('#TORQUE_MAP')" style="text-align: center;">Torque Map</a>
    <a href="#PRNDL" onclick="appear('#PRNDL')" style="text-align: center;">PRNDL</a>
    <a href="#TRACTION_CONTROL" onclick="appear('#TRACTION_CONTROL')" style="text-align: center;">Traction
        Control</a>
    <a href="#STEERING" onclick="appear('#STEERING')" style="text-align: center;">Steering</a>



    <div style="padding: 10%; position:absolute; bottom:0px;">
        <button type="submit" id="savePage" onclick="savePage('curr')" class="btn btn-primary btn-lg btn-block">Save
            Page</button>
        <button type="submit" id="saveAll" onclick="saveAll()" class="btn btn-primary btn-lg btn-block">Save All</button>
    </div>
    <!-- <img src="analysis/database/viewer_tool/static/images/hookem.svg" alt="Hook Em'!" width="30px" height="30px" style="text-align: center;" /> -->
</div>

<div class="flex-container" style="flex-direction: column; padding-top: 2%;" id="#APPS">
    <div class="col-md-7" style="display: inline-block;">
        <label for="appsLowPassFilterTimeConstant">Low Pass Filter Time Constant</label>
        <input type="number" id="appsLowPassFilterTimeConstant" name="appsLowPassFilterTimeConstant"><br>

        <label for="appsImplausibilityTime">Implausibility Time </label>
        <input type="number" id="appsImplausibilityTime" name="appsImplausibilityTime"><br>

        <label for="appsPlausibilityRange">Plausibility Range</label>
        <input type="number" id="appsPlausibilityRange" name="appsPlausibilityRange"><br>

        <label for="apps1VoltageMin">1 Voltage Min</label>
        <input type="number" id="apps1VoltageMin" name="apps1VoltageMin"><br>

        <label for="apps1VoltageMax">1 Voltage Max</label>
        <input type="number" id="apps1VoltageMax" name="apps1VoltageMax"><br>

        <label for="apps2VoltageMin">2 Voltage Min</label>
        <input type="number" id="apps2VoltageMin" name="apps2VoltageMin"><br>

        <label for="apps2VoltageMax">2 Voltage Max</label>
        <input type="number" id="apps2VoltageMax" name="apps2VoltageMax"><br>

        <label for="appsDeadZonePct">Dead Zone Pct</label>
        <input type="number" id="appsDeadZonePct" name="appsDeadZonePct"><br>
    </div>
</div>

<div class="flex-container" style="flex-direction: column; padding-top: 2%;" id="#BSE">
    <div class="col-md-7" style="display: inline-block;">
        <label for="bseLowPassFilterTimeConstant">Low Pass Filter Time Constant</label>
        <input type="number" id="bseLowPassFilterTimeConstant" name="bseLowPassFilterTimeConstant"><br>

        <label for="bseImplausibilityTime">Implausibility Time</label>
        <input type="number" id="bseImplausibilityTime" name="bseImplausibilityTime"><br>

        <label for="bseVoltageMin">Voltage Min</label>
        <input type="number" id="bseVoltageMin" name="bseVoltageMin"><br>

        <label for="bseVoltageMax">Voltage Max</label>
        <input type="number" id="bseVoltageMax" name="bseVoltageMax"><br>

        <label for="bsePressureMin">Pressure Min</label>
        <input type="number" id="bsePressureMin" name="bsePressureMin"><br>

        <label for="bsePressureMax">Pressure Max</label>
        <input type="number" id="bsePressureMax" name="bsePressureMax"><br>
    </div>
</div>

<div class="flex-container" style="flex-direction: column; padding-top: 2%;" id="#STOMPP">
    <div class="col-md-7" style="display: inline-block;">
        <label for="stomppMechanicalBrakesThreshold">Mechanical Brakes Threshold</label>
        <input type="number" id="stomppMechanicalBrakesThreshold" name="stomppMechanicalBrakesThreshold"><br>

        <label for="stomppAppsCutoffThreshold">Apps Cutoff Threshold</label>
        <input type="number" id="stomppAppsCutoffThreshold" name="stomppAppsCutoffThreshold"><br>

        <label for="stomppAppsRecoveryThreshold">Apps Recovery Threshold</label>
        <input type="number" id="stomppAppsRecoveryThreshold" name="stomppAppsRecoveryThreshold"><br>
    </div>
</div>

<div class="flex-container" id="#TORQUE_MAP">
    <div class="col-md-5" id="">
        <canvas id="mapCanvas1" class="canvas"></canvas>
    </div>
    <div id="map1" style="font-size: .75em;"></div>


    <div class="col-md-5" id="">
        <canvas id="mapCanvas2" class="canvas"></canvas>
    </div>
    <div id="map2" style="font-size: .75em;"></div>

    <div class="col-md-5" id="">
        <canvas id="mapCanvas3" class="canvas"></canvas>
    </div>
    <div id="map3" style="font-size: .75em;"></div>


    <div class="col-md-5" id="">
        <canvas id="mapCanvas4" class="canvas"></canvas>
    </div>
    <div id="map4" style="font-size: .75em;"></div>

    <div class="col-md-5" id="">
        <canvas id="mapCanvas5" class="canvas"></canvas>
    </div>
    <div id="map5" style="font-size: .75em;"></div>

    <div class="col-md-5" id="">
        <label for="mapPowerLimit">Map Power Limit:</label>
        <input type="number" id="mapPowerLimit" name="mapPowerLimit"><br>

        <label for="mapPowerLimitFeedbackP">Power Limit Feedback P:</label>
        <input type="number" id="mapPowerLimitFeedbackP" name="mapPowerLimitFeedbackP"><br>

        <label for="mapPowerLimitFeedbackTimeConstant">Power Limit Feedback Time Constant</label>
        <input type="number" id="mapPowerLimitFeedbackTimeConstant" name="mapPowerLimitFeedbackTimeConstant"><br>

    </div>
    <script>
        createGraph(document.getElementById("mapCanvas1"), document.getElementById("map1"), "Pedal To Torque Request", "mapPedalToTorqueRequest")
        createGraph(document.getElementById("mapCanvas2"), document.getElementById("map2"), "Derate Motor Temp", "mapDerateMotorTemp")
        createGraph(document.getElementById("mapCanvas3"), document.getElementById("map3"), "Derate Inverter Temp", "mapDerateInverterTemp")
        createGraph(document.getElementById("mapCanvas4"), document.getElementById("map4"), "Derate Battery Temp", "mapDerateBatteryTemp")
        createGraph(document.getElementById("mapCanvas5"), document.getElementById("map5"), "Derate Battery Soc", "mapDerateBatterySoc")
    </script>


</div>

<div class="flex-container" style="flex-direction: column; padding-top: 2%;" id="#PRNDL">
    <div class="col-md-7" style="display: inline-block;">
        <label for="prndlBrakeToStartThreshold">Brake To Start Threshold</label>
        <input type="number" id="prndlBrakeToStartThreshold" name="prndlBrakeToStartThreshold"><br>

        <label for="prndlBuzzerDuration ">Buzzer Duration</label>
        <input type="number" id="prndlBuzzerDuration " name="prndlBuzzerDuration"><br>

        <label for="prndlSwitchDebounceDuration">Switch Debounce Duration</label>
        <input type="number" id="prndlSwitchDebounceDuration" name="prndlSwitchDebounceDuration"><br>
    </div>
</div>

<div class="flex-container" style="flex-direction: column; padding-top: 2%;" id="#TRACTION_CONTROL">
    <div class="col-md-7" style="display: inline-block;">
        <label for="tcsEnabled">Traction Control</label>
        <input type="checkbox" id="tcsEnabled" value="">

        <label for="tcsVelocityLowPassFilterTimeConstant">Velocity Low Pass Filter Time Constant</label>
        <input type="number" id="tcsVelocityLowPassFilterTimeConstant"
            name="tcsVelocityLowPassFilterTimeConstant"><br>

        <label for="tcsFeedbackLowPassFilterTimeConstant">Feedback Low Pass Filter Time Constant</label>
        <input type="number" id="tcsFeedbackLowPassFilterTimeConstant"
            name="tcsFeedbackLowPassFilterTimeConstant"><br>
    </div>
</div>

<div class="flex-container" id="#STEERING">
    <div class="col-md-5" id="">
        <canvas id="steeringCanvas1" class="canvas"></canvas>
    </div>
    <div id="steering1" style="font-size: .75em;"></div>

    <div class="col-md-5" id="">
        <canvas id="steeringCanvas2" class="canvas"></canvas>
    </div>
    <div id="steering2" style="font-size: .75em;"></div>


    <div class="col-md-5" id="">
        <label for="steeringPotMaxVoltage">Pot Max Voltage</label>
        <input type="number" id="steeringPotMaxVoltage" name="steeringPotMaxVoltage"><br>

        <label for="steeringWheelMaxAngle">Wheel Max Angle</label>
        <input type="number" id="steeringWheelMaxAngle" name="steeringWheelMaxAngle"><br>

    </div>
    <script>
        createGraph(document.getElementById("steeringCanvas1"), document.getElementById("steering1"), "Wheel To Outer Wheel",)
        createGraph(document.getElementById("steeringCanvas2"), document.getElementById("steering2"), "Wheel To Inner Wheel")
    </script>



</div>


<script>
    appear("#APPS")

    var currentPage = "#APPS";

    function appear(elem) {
        currentPage = elem

        document.getElementById("#APPS").style.display = "none"
        document.getElementById("#BSE").style.display = "none"
        document.getElementById("#STOMPP").style.display = "none"
        document.getElementById("#TORQUE_MAP").style.display = "none"
        document.getElementById("#PRNDL").style.display = "none"
        document.getElementById("#TRACTION_CONTROL").style.display = "none"
        document.getElementById("#STEERING").style.display = "none"

        document.getElementById(elem).style.display = "flex"
    }

    function savePage(p) {
        if(p == 'curr'){
            p = currentPage
        }
        
        let page = document.getElementById(p).innerHTML
        let v = [];


        let payload = {
            "category": p
        }

        let re = /input.type=\"+\w+".id="+\w+/g;
        let l = page.match(re)

        for (let i = 0; i < l.length; ++i) {
            if (l[i].includes("number")) {
                l[i] = l[i].substr(l[i].indexOf("id=\"") + 4)
                v[i] = document.getElementById(l[i]).value

            } if (l[i].includes("checkbox")) {
                console.log("check");
                l[i] = l[i].substr(l[i].indexOf("id=\"") + 4)
                v[i] = document.getElementById(l[i]).checked
            }
            payload[l[i]] = v[i]
        }

        re = /table.\w+.........\w+/g;
        l = page.match(re)
        if(l != null){
        let table = null
        for (let k = 0; k < l.length; ++k) {
            l[k] = l[k].substr(l[k].indexOf("id=\"") + 4)
            table = document.getElementById(l[k])

            let data = [];
            for (let i = 1; i < table.rows.length; i++) {
                var tableRow = table.rows[i];
                var rowData = [];
                for (let j = 0; j < tableRow.cells.length; j++) {
                    rowData.push(tableRow.cells[j].innerHTML);
                }
                data.push(rowData);
            }
            payload[l[k]] = data
        }
    }
        console.log(payload);

        let xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://127.0.0.1:5001/tune_data');
        xhr.setRequestHeader('Content-Type', 'application/json', 'charset=UTF-8');
        xhr.send(JSON.stringify(payload));

    }

    function saveAll() {
        savePage("#APPS")
        savePage("#BSE")
        savePage("#STOMPP")
        savePage("#TORQUE_MAP")
        savePage("#PRNDL")
        savePage("#TRACTION_CONTROL")
        savePage("#STEERING")

    }


</script>


{% endblock %}