{% extends 'base.html' %}

{% block head %}
    <title>Telemetry Injection Tool</title>
{% endblock %}


{% block body %}
    <div>
        <form action="/create_event/" method="POST">
            {# Driver Name #}
            <label for="driver_id">Choose a driver:</label>
            <select name="driver_id" id="driver_id">
                <option value="0">Other</option>
                <option value="1">Jaiden Patel</option>
                <option value="2">Sohan Agnihotri</option>
                <option value="3">Dylan Hammerback</option>
                <option value="4">Andrew Zhang</option>
                <option value="5">Ali Jensen</option>
            </select><br>

            {# Location #}
            <label for="location_id">Choose a location:</label>
            <select name="location_id" id="location_id">
                <option value="0">Other</option>
                <option value="1">Pickle - Innovation Blvd</option>
                <option value="2">Pickle - Front Lot</option>
                <option value="3">Pickle - Other Lot</option>
                <option value="4">COTA - Lot J</option>
                <option value="5">COTA - Lot H</option>
                <option value="6">COTA - Go Kart Track</option>
            </select><br>

            {# Event Type #}
            <label for="event_type">Choose an event type:</label>
            <select name="event_type" id="event_type">
                <option value="0">Other</option>
                <option value="1">Endurance</option>
                <option value="2">Autocross</option>
                <option value="3">Skidpad</option>
                <option value="4">Straight Line Acceleration</option>
                <option value="5">Straight Line Breaking</option>
            </select><br>

            {# Car ID #}
            <label for="car_id">Choose a car:</label>
            <select name="car_id" id="car_id">
                <option value="1">Easy Driver</option>
                <option value="2">Lady Luck</option>
            </select><br>

            {# Car Weight #}
            <label for="car_weight">Car Weight:</label>
            <input type="number" id="car_weight" name="car_weight"><br>

            {# Tow Angle #}
            <label for="tow_angle">Tow Angle:</label>
            <input type="number" id="tow_angle" name="tow_angle"><br>

            {# Camber #}
            <label for="camber">Camber:</label>
            <input type="number" id="camber" name="camber"><br>

            {# Ride Height #}
            <label for="ride_height">Ride Height:</label>
            <input type="number" id="ride_height" name="ride_height"><br>

            {# Ackerman Adjustment #}
            <label for="ackerman_adjustment">Ackerman Adjustment:</label>
            <input type="number" id="ackerman_adjustment" name="ackerman_adjustment"><br>

            {# Power Limit #}
            <label for="power_limit">Power Limit:</label>
            <input type="number" id="power_limit" name="power_limit"><br>

            {# Shock Dampening #}
            <label for="shock_dampening">Shock Dampening:</label>
            <input type="number" id="shock_dampening" name="shock_dampening"><br>

            {# Torque Limit #}
            <label for="torque_limit">Torque Limit:</label>
            <input type="number" id="torque_limit" name="torque_limit"><br>

            {# Front Right Wheel (fr) Pressure #}
            <label for="fr_pressure">Front Right Wheel Pressure:</label>
            <input type="number" id="fr_pressure" name="fr_pressure"><br>

            {# Front Left Wheel (fl) Pressure #}
            <label for="fl_pressure">Front Left Wheel Pressure:</label>
            <input type="number" id="fl_pressure" name="fl_pressure"><br>

            {# Back Right Wheel (br) Pressure #}
            <label for="br_pressure">Back Right Wheel Pressure:</label>
            <input type="number" id="br_pressure" name="br_pressure"><br>

            {# Back Left Wheel (bl) Pressure #}
            <label for="bl_pressure">Back Left Wheel Pressure:</label>
            <input type="number" id="bl_pressure" name="bl_pressure"><br>

            {# Front Wing On #}
            <input type="checkbox" id="front_wing_on" name="front_wing_on" value="1">
            <label for="front_wing_on"> Front Wing On</label><br>

            {# Rear Wing On #}
            <input type="checkbox" id="rear_wing_on" name="rear_wing_on" value="1">
            <label for="rear_wing_on"> Rear Wing On</label><br>

            {# Regen On #}
            <input type="checkbox" id="regen_on" name="regen_on" value="1">
            <label for="regen_on"> Regen On</label><br>

            {# Undertray On #}
            <input type="checkbox" id="undertray_on" name="undertray_on" value="1">
            <label for="undertray_on"> Undertray On</label><br>

            {# Part Revisions #}
{#            <input type=file name=part_revs><br>#}

            {# Hidden Day ID passthrough #}
            <input type="hidden" id="day_id" name="day_id" value="{{ day_id }}">

            <input type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock %}